<button mat-raised-button (click)="GoBack()">go back</button>
<div *ngIf="item" class="row">
  <div class="menu-item-edit-form-container col-md-6">
      <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="item.name"/>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Description" [(ngModel)]="item.description"/>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput type="number" placeholder="Price" [(ngModel)]="item.base_price" step="0.01"/>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Type" [(ngModel)]="item.menu_item_type"/>
        </mat-form-field>
        
        <mat-checkbox [(ngModel)]="item.active" name="active" ngDefaultControl >Active</mat-checkbox>
        
        <button mat-stroked-button (click)="Save()">Save</button>
  </div>
  <div class="col-md-6">
      <div *ngIf="image">
        <img id="menu-item-image" src="https://jakeholmes.me:5000/images/{{image}}"/>
      </div>
      <div id="upload-image-container">
        <input type="file" id="menu-item-image-input" (change)="onImageChange($event)"/>
        <!-- <button mat-stroked-button (click)="UploadImage()">Upload Image</button> -->
      </div>
  </div>
</div>
