#menu-item-image {
    max-width: 200px;
}

#upload-image-container {
    margin-top: 16px;
}

#menu-item-image-input {
    display: none;
}

#delete-btn {
    margin-top: 8px;
}

.menu-item-edit-form-container {
    display: flex;
    flex-flow: column nowrap;

    margin-top: 16px;
}