<button mat-raised-button (click)="GoBack()">go back</button>
<div *ngIf="item" class="row">
  <div class="menu-item-edit-form-containter col-md-6">
      <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="item.name"/>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Description" [(ngModel)]="item.description"/>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput type="number" placeholder="Price" [(ngModel)]="item.base_price" step="0.01"/>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Type" [(ngModel)]="item.menu_item_type"/>
        </mat-form-field>
        
        <mat-checkbox [(ngModel)]="item.active" name="active" ngDefaultControl >Active</mat-checkbox>
        
        <button mat-stroked-button (click)="Save()">Save</button>
  </div>
</div>
