<div class="row">
  <div class="column-2" *ngFor="let table of tables">
    <h2 class="mat-h2">Table {{table.table_number}}</h2>
    <div>
      <span>Status: </span>
      <span>{{table.status ? "Active":"Inactive"}}</span>
    </div>
    <div>
      <span># of Seats: </span>
      <span>{{table.seats}}</span>
    </div>
    <!-- <div>
      <span>QR Code: </span>
      <span>QR code of seats goes here</span>
    </div>
    <div>
      <span>Passcode: </span>
      <span>Passcode of seats goes here</span>
    </div> -->
    <div>
      <p>Order Items</p>
    </div>
    <!-- TODO Add for Order Item, the model is weird atm -->
    <app-menu-item-details *ngFor="let item of table.order.order_items" [item]="item.menu_item" [order-mode]="false" ></app-menu-item-details>
  </div>
</div>