<h2>Manage Menu Items</h2>
<mat-list>
  <mat-list-item *ngFor="let menuItem of menuList">
    <img matListAvatar src="https://jakeholmes.me:5000/images/{{menuItem.image}}">
    <h4 mat-line>
      <a [routerLink]="['/menu-item-create-edit', { id: menuItem.id }]">{{ menuItem.name | titlecase }}</a>
      <span *ngIf="!menuItem.active" class="inactive-text">
        Inactive
      </span>
    </h4>
    <p mat-line>{{ menuItem.description }}</p>
  </mat-list-item>
</mat-list>
<button mat-stroked-button (click)="CreateNewItem()">Add New</button>
