<nav>
  <ul>
    <li>
      <a routerLink=""  matTooltip="Menu" matTooltipPosition="right">
        <i class="material-icons">local_dining</i>
      </a>
    </li>
    <li>
        <a routerLink="tablemanagement" matTooltip="Table Mangement" matTooltipPosition="right">
          <i class="material-icons">table_chart</i>
        </a>
    </li>
    <li>
      <a routerLink="kitchen-view" matTooltip="Kitchen View" matTooltipPosition="right">
        <i class="material-icons">table_chart</i>
      </a>
    </li>
    <li>
      <a routerLink="shopping-cart" matTooltip="Shopping Cart" matTooltipPosition="right">
        <i class="material-icons">shopping_cart
          <!-- <span class="mt-2">2</span> -->
        </i>
      </a>
    </li>
    <li>
        <a routerLink="menu-admin" matTooltip="Menu Management" matTooltipPosition="right">
            <i class="material-icons">assignment</i>
        </a>
      </li>
  </ul>
</nav>