<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ item.type }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.image" alt="Photo of {{item.name}}">
  <mat-card-content>
    <p>
      {{ item.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="orderMode">Add to order</button>
  </mat-card-actions>
</mat-card>




<!-- <button mat-raised-button (click)="GoBack()">go back</button>
<div *ngIf="item">
  <h2>{{ item.name }}</h2>
  <p>{{ item.base_price }}</p>
  <button mat-raised-button (click)="AddToOrder(item)">Add to order</button>
</div> -->
