<section>
  <div class="container">
    <div class="board">
      <app-checkout-navbar></app-checkout-navbar>

      <div class="container">
          <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of checkoutProducts">
                  <div>
                      <img src="https://jakeholmes.me:5000/images/{{product.image}}" [alt]="product.name" width="150" height="100">
                  </div>
                  <div style="padding: 10px">
                      <h6 class=" my-0 ">{{ product.name}}</h6>
                      <p>Description : {{product.description}}</p>
                  </div>
                  <span class="text-muted ">$ {{product.base_price}}</span>
              </li>
              <hr>
              <li class="list-group-item d-flex justify-content-between ">
                  <span>Total (AUD)</span>
                  <strong>$ {{ totalPrice }}</strong>
              </li>
        
          </ul>
          <div class="float-right">
              <!-- <a class="btn btn-default" [routerLink]="['/checkout/billing-details']">Next</a> -->
              <button class="btn btn-default" (click)="confirmOrder()">Next</button>
          </div>
        
        </div>
    </div>
  </div>
</section>