.form {
    width: 50%;
    //height: 300px;
    margin-right: auto;
    margin-left: auto;
    // float: left;
}

mat-card-title{
    font-size: 20px;
}

mat-form-field, input{
    width: 85%;
}

// mat-form-field{
//     padding:0;
// }
