@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=serif');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=sans-serif');


* {
  font-family: 'Playfair Display', serif;
}

p {
  font-style: italic;
  font-size: 16px;
}

$colors: (
  primary:    #ff48b9,
  secondary:  #32db64,
  tertiary:   #f53d3d,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  Poultry:    #f53d3d,

);


.font {
    font-style: normal;
    font-size: 30px;
}



.example-card {
    font-size: 100px;
    margin-top: 0px;
    max-width: 250px;
    background: rgb(170, 79, 79);
  }
  
  .example-header-image {
      background-size: cover;
  }

  .title-bar{
      width: fit-content;
      height: 100px;
      background: #383796;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

 h1 {
    background: #ce2c38;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    height: 150px;
    margin: 30px auto 0;
    position: relative;
    text-align: center;
    width: 150px;
    z-index: 10;
  }
  
h1 span {
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 62px 0 0 0;
  }
  
h1 span+span {
    color: #000;
    display: block;
    font-size: 14px;
    padding: 0;
  }
  
ul {
      list-style-type: none;
      margin: 0;
      padding: 0px;
      overflow: hidden;
      background-color: rgb(255, 255, 255);
  }
  
  
li {
      float: left;
  }
  
 li a {
      display: block;
      color: white;
      text-align: center;
      padding: 100px 20px;
      text-decoration: none;
  }
  
 li a:hover {
      background-color: rgba(0, 255, 255, 0.158);
  }
  h1 {
    color: #444;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 20px 0 0 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    border-bottom: 1px solid #444;
    color: #000;
    font-family: 'Oswald', sans-serif;
    margin: 20px 0 10px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    text-align: center;
  }


  h5{
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }

  h6{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    align-content: center;
    align-items: center;
    text-align: justify;
  }
  

  a{    
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    margin: -10px 0 0;
    padding: 0 0 0 0;
    text-transform: uppercase;
  }
  


  .mat-card-header a{    
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    align-content: center;
    align-items: center;
    text-align: justify;
    margin: 20px 0 10px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    text-align: center;
  }

  .price p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: normal;
    margin: 26px 0 5px;
    text-align: right;
  }

  .mathead{
    align-content: center;
    background-size: cover;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    text-align: center;
    padding: 5px;
  }

  .mathead2{
    align-content: center;
    background-size: cover;
    background-color: #444;
    color: #f4f4f4;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    text-align: center;
    padding: 5px;
  }
  


  .order-item-grid {
    display: flex;
    flex-flow: row wrap;
  
    .order-item-card {
      align-content: center;
      text-align: center;
      padding: 0px;
      width: 250px;
      margin: 8px;
      .order-item-card-content{
        align-content: center;
        text-align: center;
        padding: 0px;
      }
  
      // @media screen and (max-width: 700px) {
      //   width: 100%;
      // }
    }
}