<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-danger" href="#">Narrabeen</a>
    <a class="navbar-brand"> kitchen display</a>
    <!--<button class="btn btn-dark">ORDERED</button>
    <button class="btn btn-dark">ORDERED</button>
    <button class="btn btn-dark">ORDERED</button>-->
  </nav>

<div class="order-item-grid">
  <div class="order-item-container" *ngFor="let item of order$;let i=index">
    <mat-card class="order-item-card" *ngIf="item.status!='ready' && item.status!='paid' && item.status!='delivered'" [style.background]="item.cardColor">
      <mat-card-header [style.background]="item.typeColor" class="mathead">
          <a>{{item.menu_item.menu_item_type}}</a>
      </mat-card-header>

      <mat-card-content class="order-item-card-content">
             
          <h3>
            <a>Order Id: {{item.order_id}}</a>
          </h3>
          <a>Order Time: {{item.date_created| date:'HH:mm'}}</a>
          <h2>{{item.menu_item.name}}</h2>
          <h5>{{item.menu_item.description}}</h5>
          <!--<h5>{{item.date_created| date:'HH:mm:ss'}}</h5>
          <h5>{{today| date:'HH:mm:ss'}}</h5>-->
          <mat-form-field *ngIf="item.status=='inprogress'">
            <mat-select placeholder="Select Slot"  [(ngModel)]="item.slot">
              <mat-option *ngFor="let slot of slots"  [value]="slot.value" >
                {{slot.viewValue}}
              </mat-option>
            </mat-select>
            <h5>{{item.slot}}</h5>
          </mat-form-field>
          <h2 class="mathead2">{{item.status}}</h2>
          <!--<h5>Place Item In Slot: {{item.slot}}</h5>-->
          <button mat-raised-button (click)="toggleNamedColor(item, i)">{{itemStatusNext(item.status)}}</button>
          
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--{{item.status.replace("OrderItemStatus.","")}}-->