<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-danger" href="#">Narrabeen</a>
    <a class="navbar-brand"> kitchen display</a>
    <!--<button class="btn btn-dark">ORDERED</button>
    <button class="btn btn-dark">ORDERED</button>
    <button class="btn btn-dark">ORDERED</button>-->
  </nav>

<div class="order-item-grid">
  <div class="order-item-container" *ngFor="let item of order$">
    <mat-card class="order-item-card" [style.background]="item.cardColor">
      <mat-card-header [style.background]="item.typeColor" class="mathead">
          <a>{{item.menu_item.menu_item_type}}</a>
      </mat-card-header>

      <mat-card-content class="order-item-card-content">
             
          <h3>
            <a routerLink='/kitchen-view'>Order Id: {{item.order_id}}</a>
          </h3>
          <a>Order Time: {{item.date_created| date:'HH:mm'}}</a>
          <h2>{{item.menu_item.name}}</h2>
          <h5>{{item.menu_item.description}}</h5>
          <!--<h5>{{item.date_created| date:'HH:mm:ss'}}</h5>
          <h5>{{today| date:'HH:mm:ss'}}</h5>-->
        
          <h5>Place Item In Slot: {{item.slot}}</h5>
          <h5>{{item.status}}</h5>
          <button mat-raised-button (click)="toggleNamedColor(item)">{{item.status}}</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

