<h3>{{this.preloaded ? "Edit an existing Table" : "Create a new table"}}</h3>
<mat-form-field>
  <input type="number" min="0" max="100" required matInput name="tableNumber" placeholder="Table Number" [(ngModel)]="model.table_number">
</mat-form-field>
<mat-form-field>
  <input type="number" min="0" max="100" required matInput placeholder="Number of Sears" [(ngModel)]="model.seats">
</mat-form-field>
<mat-form-field>
  <input type="number" matInput placeholder="Passcode" [(ngModel)]="model.passcode">
</mat-form-field>
<mat-slide-toggle [(ngModel)]="model.status">Enabled (Status)</mat-slide-toggle>
<div class="buttons-container">
  <a mat-raised-button color="primary" routerLink='/tablemanagement'>Cancel</a>
  <button mat-raised-button color="primary" (click)="submitTable()">{{this.preloaded ? 'Update' : 'Submit'}} Table</button>
</div>