<h3>Create a new Table</h3>
<mat-form-field>
  <label for="tableNumber">Table Number</label>
  <input type="number" min="0" max="100" required matInput name="tableNumber" placeholder="Table Number" [(ngModel)]="model.table_number">
</mat-form-field>
<mat-form-field>
  <label for="tableNumber">Number of Seats</label>
  <input type="number" min="0" max="100" required matInput placeholder="Seats" [(ngModel)]="model.seats">
</mat-form-field>
<mat-form-field>
  <label for="passcode">Passcode</label>
  <input type="number" matInput placeholder="passcode" [(ngModel)]="model.passcode">
</mat-form-field>
<mat-slide-toggle [(ngModel)]="model.status">Enabled (Status)</mat-slide-toggle> 
<button mat-raised-button color="primary" (click)="submitTable()">Submit</button>